doctype html
html
  head
    title MALDIVES Sunny Side Of Life.
    meta(name="description", content="About Maldives")
    link(rel="stylesheet", href="style.css")
  body

    header
      a.current(href="/") Home
      a(href="/history") History
      a(href="/geography") Geography
      a(href="/culture") Culture

    article
      h1 History
      p The importance of the Arabs as traders in the Indian Ocean by the 12th century may partly explain why the last Buddhist king of Maldives Dhovemi converted to Islam in the year 1153 (or 1193), adopting the Muslim title of Sultan Muhammad al Adil, and initiating a series of six Islamic dynasties that lasted until 1932 when the sultanate became elective. #[a(href="https://en.wikipedia.org/wiki/Maldives#History") More..]
      h2 Geography
      p The Maldives consists of 1,192 coral islands grouped in a double chain of 26 atolls, along the north-south direction, spread over roughly 90,000 square kilometres (35,000 sq mi), making this one of the world's most dispersed countries. It lies between latitudes 1째S and 8째N, and longitudes 72째 and 74째E. The atolls are composed of live coral reefs and sand bars, situated atop a submarine ridge 960 kilometres (600 mi) long that rises abruptly from the depths of the Indian Ocean and runs north to south. #[a(href="https://en.wikipedia.org/wiki/Maldives#Geography") More..]
      h3 Culture
      p Since the 12th century AD there were also influences from Arabia in the language and culture of the Maldives because of the conversion to Islam and its location as a crossroads in the central Indian Ocean. This was due to the long trading history between the far east and the middle east. #[a(href="https://en.wikipedia.org/wiki/Maldives#Culture") More..]
    
    nav
      h3 Maldives and Life
      a(href="/history") History of the Maldives
      a(href="/geography") Geography of the Maldives
      a(href="/culture") Culture of the Maldives

    footer &copy; 2017 Dhivehi Rajje         